<!--The whole content below can be removed with the new code.-->

<div class="container">

  <!-- <section class="card text-center">
    <h3>Why so serious component </h3>
    <p>Sample custom form input</p>
    <form #form="ngForm">

      <app-why-so-serious [type]="inputType"  styleClass='green'  name="funnyText" [(ngModel)]="funnyText"></app-why-so-serious>

    </form>
    <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p>
  </section>
  <section class="card text-center">

    <h3>Prime Ng Tree</h3>
    <app-png-try-tree></app-png-try-tree>
  </section> -->

  <!-- <section>
    <h3>Group Section</h3>
      <app-group-steps></app-group-steps>  
    <app-group-steps-tree></app-group-steps-tree>
  </section>
  <section>
      <p *ngFor="let p of (peoples | changeOrder) ; let i = index;" >
          {{p.name}} ({{p.order}}) <input name="i" type="text" [(ngModel)]="p.order"  /> 
      </p>
  </section> -->
    <section>
      <app-png-try-tree-table></app-png-try-tree-table>
    </section>

    <section>
      <app-example-ng-tree-table ></app-example-ng-tree-table>
    </section>

  
  
</div>

